:root {
    --bg-color: rgb(12, 176, 148);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #444;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--bg-color);
}

header h1 span {
    font-size: 24px;
    font-weight: lighter;
    color: var(--bg-color);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.conteiner-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-header {
    width: 600px;
    max-width: 100%;
    height: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #aaa;
    background: #fff;
    box-sizing: border-box;
    padding: 0 12px;
    gap: 8px;
}

.search-header input[type="search"] {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    background: transparent;
    padding: 8px 0;
}

.search-header i {
    color: #888;
    font-size: 20px;
    cursor: pointer;
}

.search-header input[type="search"]::placeholder {
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
}

.cart-header {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #444;
    box-sizing: border-box;
    padding: 18px;
    margin-right: -10px;
}

.cart-header i {
    color: white;
}

.profile-header {
    display: flex;
    align-items: center;
    width: auto;
    height: 30px;
    margin: 0 20px;
    border-radius: 20px;
    background: #444;
    box-sizing: border-box;
    padding: 18px 12px;
    gap: 10px;
}

.profile-header p, .profile-header i {
    color: white;
}

.profile-header i {
    font-size: 24px;
}

.categories-bar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    color: white;
    flex-wrap: wrap;
    margin: 40px 160px;
    border-radius: 20px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    gap: 5px;
    cursor: pointer;
    transition: transform .2s ease;
    padding: 0 25px;
    margin-right: 30px;
}

.border-right {
    border-right: 2px solid white;
}

.category i {
    font-size: 32px;
    color: white;
}

.category span {
    color: white;
}

.category:hover {
    transform: scale(1.05);
}

.border-right:last-child {
    border-right: none;
}

.promo-slider {
    background-color: var(--bg-color);
    padding: 0px 20px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.promo-card {
    position: relative;
    top: -25px;
    display: flex;
    width: 40%;
    height: 250px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 10;
}

.promo-card img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.promo-text {
    position: absolute;
    bottom: 0;
    padding: 35px;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-text h3 {
  margin: 0;
  font-size: 26px;
}

.promo-text p {
  margin: 5px 0 0;
  font-size: 16px;
}

/* INTERES */

.interes {
    margin: 40px 150px 0 160px;
}

.interes h1 {
    font-size: 32px;
    font-weight: 100;
}

.cards-conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cards-interes {
    width: 290px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-interes img {
    width: 270px;
    height: 250px;
    object-fit: fill;
    border-radius: 10px;
    margin-top: 10px;
}

.cards-interes-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin: 0 20px 0 20px;
}

.cards-interes h3 {
    font-size: 24px;
    padding-right: 40px;
    text-wrap: nowrap;
    color: black;
    border-right: 1px solid #666;
}

.cards-interes-text p {
    font-size: 18px;
    padding-top: 12px;
}

/* LO + PEDIDO */

.pedido {
    margin: 40px 150px 0 160px;
}

.pedido h1 {
    font-size: 32px;
    font-weight: 100;
}

.cards-conteiner2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* FOOTER */
footer {
  background-color: transparent;
  width: 100%;
  padding: 10px 20px;
  position: relative;
  bottom: 0;
  z-index: 999;
  color: #666666b6;
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-center p {
  white-space: nowrap;
  font-size: 14px;
}

.footer-left {
  text-align: left;
  margin-left: 50px;
}

.footer-right {
  text-align: right;
  margin-right: 50px;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.social-links li a {
  color: #666666b6;
  font-size: 20px;
  transition: color 0.2s;
}

.social-links li a:hover {
  color: #00A58C;
}

.store-links {
  font-size: 14px;
  color: #666666b6;
}

.store-links i {
  margin-right: 5px;
}